<!-- <div id="navigation-bar">
    <div class="icon-container" :class="current === 'home' ? 'selected' : ''" @click="homeSelected()">
        <i class="fa-home" :class="current === 'home' ? 'fa' : 'fal'"></i>
    </div>
    <div class="icon-container" :class="current === 'search' ? 'selected' : ''" @click="searchSelected()">
        <i class="fa-search" style="color: #a0d2f2;" :class="current === 'search' ? 'fa' : 'fal'"></i>
    </div>
    <div class="icon-container" :class="current === 'add' ? 'selected' : ''" @click="addSelected()">
        <i class="fa-plus-circle" :class="current === 'add' ? 'fa' : 'fal'"></i>
    </div>
    <div class="icon-container" :class="current === 'profile' ? 'selected' : ''" @click="profileSelected()">
        <i class="fa-user-circle" :class="current === 'profile' ? 'fa' : 'fal'"></i>
    </div>
</div> -->
<div id="footer-bar" class="footer-bar-1" v-if="current !== '/' && current !== 'chat' && loggedIn">
    <a :class="current === 'home' ? 'active-nav' : ''" @click="goPowerCheck()">
        <i class="fa fa-bolt"></i>
        <span>Power Check</span>
      </a>
    
      <a :class="current === 'journey' ? 'active-nav' : ''" @click="goTracks()">
        <i class="fa fa-road"></i>
        <span>Tracks</span>
      </a>
    
      <a :class="current === 'simulator' ? 'active-nav' : ''" @click="goPowerSimulator()">
        <i class="fa fa-gamepad"></i>
        <span>Power Simulator</span>
      </a>
    
      <a :class="current === 'stories' ? 'active-nav' : ''" @click="goStoriesModels()">
        <i class="fa fa-book-open"></i>
        <span>Stories &amp; Models</span>
      </a>
    
      <a :class="current === 'profile' ? 'active-nav' : ''" @click="profileTo()">
        <i class="fa fa-user-circle"></i>
        <span>Profile</span>
      </a>
</div>