#navigation-bar {
    border-top: 1px solid lightgray;
    height: 50px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    z-index: 99;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    z-index: 99999;
    background-color: white;
}

.icon-container {
    width: 20%;
    font-size: 24px;
    color: darkgray;
    padding: 7px;
    margin-left: 17px;
}

.icon-container.selected {
    color: #8c8c8c
}

.nav-badge {
    top: -1.5em !important;
    right: -1.2em !important;
}