<div id="footer-bar" class="footer-bar-1" v-if="current !== '/' && current !== 'chat' && loggedIn">
    <a :class="current === 'home' ? 'active-nav' : ''" @click="goPowerCheck()">
        <i class="fa fa-bolt"></i>
        <span>{{ $t('components.navigation.powerCheck') }}</span>
      </a>

      <a :class="current === 'journey' ? 'active-nav' : ''" @click="goTracks()">
        <i class="fa fa-road"></i>
        <span>{{ $t('components.navigation.journey') }}</span>
      </a>

      <a :class="current === 'simulator' ? 'active-nav' : ''" @click="goPowerSimulator()">
        <i class="fa fa-gamepad"></i>
        <span>{{ $t('components.navigation.powerSimulator') }}</span>
      </a>

      <a :class="current === 'stories' ? 'active-nav' : ''" @click="goStoriesModels()">
        <i class="fa fa-book-open"></i>
        <span>{{ $t('components.navigation.stories') }}</span>
      </a>

      <a :class="current === 'profile' ? 'active-nav' : ''" @click="profileTo()">
        <i class="fa fa-user-circle"></i>
        <span>{{ $t('components.navigation.profile') }}</span>
      </a>
</div>