<div class="page">
    <div class="card card-style card-style-with-radius mt-4">
        <div class="content">

            <span v-if="nOfChats === 0" class="no-content">{{ $t('pages.messages.empty') }}</span>
            <div v-for="(chat, chatidx, idx) in chats">
                <a @click="goToChat(chat, getProfile(chatidx))" class="d-flex pb-3">
                    <div class="align-self-center">
                        <!-- <i class="fa fa-circle color-green-dark position-absolute ms-4 ps-2 pt-4 mt-2"></i> -->
                        <img :src="getProfile(chatidx).p_photo || _replaceImageByDefaultUserImg"
                            @error="_replaceImageByDefaultUserImg" width="45" height="45" class="rounded-xl me-3"
                            alt="img">
                    </div>
                    <div class="align-self-center">
                        <p class="font-14 font-600 color-theme mb-0 line-height-s">{{getProfile(chatidx).p_username}}
                        </p>
                        <p class="content-preview font-11 mb-0 line-height-s">{{chat[chat.length-1].pm_content}}</p>
                    </div>
                    <div class="position-absolute end-0 pe-3">
                        <span class="font-9 opacity-40 color-theme">{{fromNow(chat)}}</span><br>
                        <span v-if="nOfUnreadMessagesOfChat(chat) != 0"
                            class="float-end mt-n1 pt-1 badge rounded-pill bg-blue-dark font-9 font-400 scale-switch">{{nOfUnreadMessagesOfChat(chat)}}</span>
                    </div>
                </a>
                <div class="divider mb-3" v-if="idx !== nOfChats - 1"></div>
            </div>
        </div>
    </div>
</div>