.post {
    position: relative;
    width: 100%;
    margin-top: 13px;
    /* margin-left: 2%; */
    /* margin-right: 2%; */
    /* padding: 0px 30px 40px 30px; */
    /* -webkit-box-shadow: 0 1px 6px rgba(59, 64, 69, .1), 0 1px 0 rgba(12, 13, 14, .1); */
    /* box-shadow: 5px 2px 1px 1px rgba(59, 64, 69, .1), 4px 6px 0 rgba(12, 13, 14, .1); */
    /* margin-bottom: 0px; */
    background-color: white;
}

.page {
    background-color: lightgray;
}

i.make-small {
    position: absolute;
    right: 2px;
    top: 1px;
    padding: 3px 0px 20px 20px;
    color: lightgray;
}

.title {
    font-family: vreg;
    margin-bottom: 5px;
    font-size: 1.1em;
    color: lightslategray;
    padding: 10px 0px;
}

.partner-page-name {
    font-size: 1.5em;
    color: #007bff;
}

.body {
    margin-top: 10px;
}

.post-link {
    width: 100%;
    margin: 5px;
}

.post-text {
    /* box-shadow: 5px 10px 8px #888888; */
    padding: 2rem;
    position: relative;
    background-repeat: repeat;
    text-align: center;
    margin: 0px;
}

.post-text span {
    width: 100%;
    display: flex;
    text-align: center;
    font-size: 2em;
    word-break: break-word;
    padding: 0.5em;
    font-weight: 900;
}

.details-up {
    color: gainsboro;
    display: inline-flex;
    width: 100%;
    position: relative;
}



.body img {
    width: 100%;
}

.marginbtn {
    margin-bottom: 20px;
}

.bgscheme.green {
    background-color: green;
    background-image: linear-gradient(to bottom right, #A4C400, #60A917, #008A00);
}

.curved {
    /* border-radius: 10px; */
}

.number-of-likes {
    background-color: lightpink;
    padding: 5px;
    color: white;
    width: 34%;
    height: 30px;
    position: relative;
}

.number-of-comments {
    background-color: #f3f3f3;
    padding: 5px;
    color: gray;
    width: 33%;
    height: 30px;
    position: relative;
}

.share {
    background-color: #51bb71;
    padding: 5px;
    color: white;
    width: 33%;
    height: 30px;
    position: relative;
}

.nolc-body {
    position: absolute;
    left: 50%;
    width: 100%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.comments-container {}

.under-description {
    color: darkslategray;
    background-color: #f7f7f7;
}

.comments-container .comment {
    background-color: #f9f9f9;
    border-radius: 2rem;
}

.details-down {
    display: inline-flex;
    width: 100%;
}

.thumbnail {
    position: relative;
    width: 33.33%;
    height: 100px;
    overflow: hidden;
    padding: 2px;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
}


.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.thumbnail img.portrait {
    width: 100%;
    height: auto;
}

.tag-item {
    font-size: 0.7em;
    width: inherit;
    border-radius: 50px;
    opacity: 0.6;
}

.tags-container {

    /* margin-left: 0px; */
}

.thumbnail-view {
    height: 100%;
    width: 100%;
    font-size: 0.8rem;
    text-align: center;
}