<div class="login-kabox">
    <div class="login-upside">

        <div class="login-logo-container" style="margin-bottom: 5em; margin-top: 7em;">
            <img src="@/assets/elevateher_logo.png" width="150px" alt="ElevateHer Logo" class="login-logo">
        </div>
        <h2 class="login-title">{{ $t('pages.login.welcome') }}</h2>
        <p class="login-subtitle">{{ $t('pages.login.subtitle') }}</p>
    </div>

    <div class="social-login">
        <!-- Google Login -->
        <button class="social-btn google-btn" @click="googleLogin">
            <img src="@/assets/google_logo.svg" alt="Google" class="social-icon">
            <span>{{ $t('pages.login.googleBtn') }}</span>
        </button>

        <!-- Apple Login -->
        <button class="social-btn google-btn" @click="appleLogin">
            <img src="@/assets/apple_logo.svg" alt="Apple" class="social-icon">
            <span>{{ $t('pages.login.appleBtn') }}</span>
        </button>

        <!-- Email Register --> 
        <button class="social-btn google-btn" @click="goToEmailRegister"> <!-- TODO : mailLogin logic --> 
            <img src="@/assets/mail-logo.png" alt="Mail" class="social-icon">
            <span>{{ $t('pages.login.mailBtn') }}</span>
        </button>


        <button class="social-btn google-btn" @click="mailLogin"> <!-- TODO : mailLogin logic --> 
            <img src="@/assets/explore.png" alt="Explore" class="social-icon">
            <span>{{ $t('pages.login.explore') }}</span>
        </button>
    </div>

    <p class="privacy-text" style="    position: absolute;
    bottom: 0em;
    left: 0;
    padding: 2em;" v-html="$t('pages.login.privacyHtml')">
    </p>
</div>