.video-player {
    width: 100%;
}

.video-player.fixed-height {
    height: 200px;
}

.video-player.full-screen {
    height: initial;
}

.video-control {
    background-color: #f9f9f9;
    padding: 10px;
    position: relative;
    top: -30px;
}

.video-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
}

i.paused-icon {
    margin-right: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
}

.video-player.paused {
    opacity: 0.5;
}

.let-full-screen {
    position: absolute;
    right: 0px;
    font-size: 1.3em;
    z-index: 99;
    color: white;
    background-color: #8c8c8c;
    padding: 5px;
}

.thumbnail-video {
    height: 100px;
}

.thumbnail-video video {
    height: 100px !important;
}

.sesayar{
    position: absolute;
    right: 1em;
    bottom: 1em;
    font-size: 1.5em;
    z-index: 55;
    background-color: black;
    color: white;
    border-radius: 999px;
    padding: 0.3em;
}