.dd-item {
    border-bottom: 1px solid lightgray;
    width: 100%;
    margin-bottom: 0px;
    color: gray;
    padding-bottom: 10px;
    margin-top: 10px;
    position: relative;
    cursor: pointer;
}

.dd-item.last-dd-item {
    border-bottom: 0px;
}

.dd-item.selected {
    color: rgb(56, 126, 245);
}

.dd-item-container {
    border-radius: 5px;
    position: absolute;
    padding: 15px;
    width: 100%;
    box-shadow: 0 3px 12px 2px rgba(0, 0, 0, .7);
    background-color: white;
    z-index: 101;
    top: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    height: 80vh;
}

.dd-check {
    position: absolute;
    right: 10px;
    top: 0px;
}

.dropdown-in-place-container {
    display: -ms-inline-flexbox;
    width: 100%;
    position: relative;
}

.current-selection {
    position: absolute;
    right: 0px;
}

.dd-title,
.fa-caret-down {
    color: darkgray;
    position: absolute;
    right: 10px;
    top: 12px;
}

.block-full-screen {
    position: fixed;
    width: 300%;
    height: 10000px;
    background-color: #8f8f8f;
    top: -5000px;
    left: -20px;
    z-index: 100;
    opacity: 0.3;
}

.form-control {
    cursor: default;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: white;
}